#!/usr/bin/make -f

DEB_PYTHON2_MODULE_PACKAGES := blankon-wallpapers

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/blankon-wallpapers::
	rm -r debian/tmp/usr/lib/python*
